* {
    box-sizing: border-box;
    background-color: grey;
}

body {
    margin: 0px;
    font-size: 22px;
}

.wrapper {
    border-bottom: 2px solid;
    position: relative;
    height: 1.5em;
    width: 102%;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 100%;
    padding-top: 10px;
}

#headlines a {
    padding-right: 30px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 20px;
    color: red;
}

/* offsetLeft only gives you the position of the item in relation to it's parent.  */
